[*.cs]

# IDE0022: Use block body for method
csharp_style_expression_bodied_methods = true

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = silent
