@page "/countries/details/{CountryId:int}"

@if (country is null)
{
    <Loading />
}
else
{
    <div class="card">
        <div class="card-header">
            <span>
                <i class="bi bi-globe-americas" /> @country.Name
                <a class="btn btn-sm btn-primary float-end mx-1" href="/states/create/@country.Id"><i class="bi bi-plus-square" />  Adicionar Estado/Departamento</a>
                <a class="btn btn-sm btn-success float-end" href="/countries"><i class="bi bi-arrow-left" />  Regresar</a>
            </span>
        </div>
        <div class="card-body">
            <GenericList MyList="states!">
                <Body>
                    <Pagination CurrentPage="currentPage"
                                TotalPages="totalPages"
                                SelectPage="SelectedPageAsync" />
                    <div>
                        <input placeholder="buscar ciudad" @bind-value="Filter" />
                        <button @onclick="ApplyFilterAsync">Filtrar</button>
                        <button @onclick="CleanFilterAsync">Limpiar</button>
                    </div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Estado / Departamento</th>
                                <th>Ciudades</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var state in states!)
                            {
                                <tr>
                                    <td><a href="/states/details/@state.Id">@state.Name</a></td>
                                    <td>@state.CitiesNumber</td>
                                    <td>
                                        <a class="btn btn-warning btn-sm" href="/states/edit/@state.Id"><i class="bi bi-pencil" /> Editar</a>
                                        <a class="btn btn-info btn-sm" href="/states/details/@state.Id">Detalles</a>
                                        <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(state))><i class="bi bi-trash" /> Borrar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </Body>
            </GenericList>
        </div>
    </div>
}