@page "/countries/create"

<h3>Crear Pais</h3>

<FormWithName Label="Pais" Model="country" OnValidSubmit="CreateAsync" ReturnAction="Return" />

<!--
    <CountryForm @ref="countryForm" Country="country" OnValidSubmit="CreateAsync" ReturnAction="Return" />
-->
